
canvas {
    border: 1px solid black;
    margin: 1em;
}

#color-picker .color {
    width: 2em;
    height: 2em;
    display: inline-block;
}

#current-color {
    width: 2em;
    height: 2em;
    display: inline-block;
    border: 1px solid black;
}

#show-tile-format {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}
