
canvas {
    border: 1px solid black;
    margin: 1em;
}

#preview-wrapper {
    display:inline-block;
}

#helpkey {
    float: right;
}
#help {
    display:none;
}
#help:target {
    display:block;
    float: right;
}

#color-picker .color {
    width: 2em;
    height: 2em;
    display: inline-block;
    border: 1px solid transparent;
}

#color-picker .color:hover {
    border: 1px solid black;
}

#current-color {
    width: 2em;
    height: 2em;
    display: inline-block;
    border: 1px solid black;
}

#show-tile-format {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}
